{% extends 'AppBundle::base.html.twig' %}

{% block body %}
  
    <div class="banner banner-top banner-fixed" ng-click="swap()">Swap</div>
  	<div class="tabard">
    	<div class='banner banner-top' ng-click="buff()" ng-show="bufferTop[currentType-1].length">
    		See {{'{{bufferTop[currentType-1].length}}'}} new tweet{{"{{(bufferTop[currentType-1].length > 1) ? 's' : '' }}"}}
    	</div>

    	<div ng-show="currentType==1">
        <div id="tweetArea0"></div>
      </div>
      <div ng-show="currentType==2">
        <div id="tweetArea1"></div>
      </div>
      <div class='banner banner-bottom' ng-show="loading">Loading...</div>
    </div>
{% endblock %}