<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
 
  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };
 
  return t;
}(document, "script", "twitter-wjs"));</script>
<div align='center' style="padding-top: 100px;">
  {% for tweet in tweets %}
  <blockquote class="twitter-tweet"><a href="https://twitter.com/{{tweet.author.twitterId}}/status/{{tweet.twitterId}}"></a></blockquote>
  {% endfor %}
</div>
