{% extends 'AppBundle::base.html.twig' %}

{% block body %}
  <div ng-app='twApp' ng-controller='TwitterController' align='center' style="padding-top: 100px;">
    {{"{{bufferTop.length}}"}}
    <button ng-click="buff()">BUFF</button>
    <button ng-click="bottom()">BOTTOM LOAD</button>
    <div template show="load"></div>
  </div>
{% endblock %}